<div [ngSwitch]="usuarioLogado()">
    <a *ngSwitchCase="false" class="btn btn-outline-primary" [routerLink]="['/conta/login']">Login</a>
    <a *ngSwitchCase="false" class="btn btn-outline-secondary marginLeftMenu" [routerLink]="['/conta/cadastro']">Crie sua conta</a>

    <a *ngSwitchCase="true" class="text-dark text-decoration-none" href="javascript:void(0)">{{email}}</a>
    <a *ngSwitchCase="true" class="btn btn-outline-secondary marginLeftMenu" href="javascript:void(0)" (click)="logout()">Sair</a>    
</div>